

.dashboardPrincipal{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    width: 100px;
}

.parteDerechaDashboard{
    padding-top: 20px;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.opcionesButtons{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

