@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

.dashboardPrincipal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

<<<<<<< HEAD
.parteDerechaDashboard{
    padding-top: 20px;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
=======
button {
  width: 100px;
>>>>>>> develop
}

.parteDerechaDashboard {
  padding-top: 20px;
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.opcionesButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
