<div class="dashboardPrincipal">
    <navbar></navbar>

    <div class="parteDerechaDashboard">
        <div class="opcionesButtons">
            <button class="btn btn-secondary btn-lg" routerLink="/usuario/crearUsuario">Create</button>
            <button class="btn btn-secondary btn-lg" routerLink="/usuario/leerUsuario">Read</button>
            <button class="btn btn-secondary btn-lg" routerLink="/usuario/actualizarUsuario">Update</button>
            <button class="btn btn-secondary btn-lg" routerLink="/usuario/eliminarUsuario">Delete</button>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>
