<div class="contenedor">
    <h1>Actualizar usuario</h1>

    <form class="formularioCrearUser" [formGroup]="formularioActualizarUser">

        <input  class="nombre" 
                placeholder="Nombre"
                formControlName="nombre">

        <input  class="apellido" 
                placeholder="Apellido"
                formControlName="apellido">

        <input  class="edad" 
                placeholder="Edad"
                formControlName="edad">

        <input  class="celular" 
                type="number" 
                placeholder="Telefono"
                formControlName="telefono">

        <input  class="direccion" 
                placeholder="Direccion"
                formControlName="direccion">                

        
        <input  class="contrasena"  
                placeholder="Contraseña"
                formControlName="password">



        

        <input  type="file"
                formControlName="imagen"
                accept=".png, .jpg"
                (change)="onUpload($event)">

       
    </form>

    <a  class="buttonImg"
        target="_blanck"
        [href]="usuario?.imagen"
        download
        >
        Descargar imagen antigua para reutilizar</a>
    <button class ="actualizar" (click)="actualizarData()">Actualizar</button>

</div>