<div class="container text-center">
  <br>
  <h3 *ngIf="usuariosActivos == undefined">There are no users</h3>

  <div *ngIf="usuariosActivos != undefined"  class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Delete <b>Users</b></h2>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Address</th>
          <th>Cell Number</th>
          <th>Created By</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuariosActivos; let i = index">
          <td>{{ user.nombre    }}</td>
          <td>{{ user.apellido  }}</td>
          <td>{{ user.email     }}</td>
          <td>{{ user.edad      }}</td>
          <td>{{ user.direccion }}</td>
          <td>{{ user.telefono  }}</td>
          <td>{{ user.creador   }}</td>
          <td><img [src]="user.imagen"></td>
          <td>
            <a (click)="borrarUsuario( i )" class="delete" data-toggle="modal">
              <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix">
  </div>
</div>

<!-- Edit Modal HTML -->
