<div class="contenedor">
        
        <span *ngIf="invalidForm">Todos los campos son obligatorios y el correo debe ser valido</span>
    <form class="formularioCrearUser" [formGroup]="formularioCrearUser">

        <input  class="nombre" 
                placeholder="Nombre"
                formControlName="nombre">

        <input  class="apellido" 
                placeholder="Apellido"
                formControlName="apellido">

        <input  class="edad" 
                placeholder="Edad"
                formControlName="edad">

        <input  class="celular" 
                type="number" 
                placeholder="Telefono"
                formControlName="telefono">

        <input  class="direccion" 
                placeholder="Direccion"
                formControlName="direccion">                

        <input  class="email" 
                placeholder="email"
                formControlName="email">


        <input  type="file"
                formControlName="imagen"
                accept=".png, .jpg"
                (change)="onUpload($event)">

       
    </form>
    <button (click)="enviarData()">Enviar</button>

</div>
